/* Universal Styles */

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  align-content: flex-end;
}

a:hover{
  color: #5e3bee !important;
}

strong {
  font-weight: bold;
}

h2 {
  padding-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

h3 {
  font-weight: bold;
}

.media-container {
  overflow: hidden;
}

.media-container img,
.media-container video {
  display: block;
  width: 100%;
}

/* Universal Component - Flex Content Container */

.flex-content {
  display: flex;
  padding: 0 1.5rem;
}

.flex-content .main-content {
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;
  border-right: 1px solid rgb(245, 245, 245);
}

.flex-content .supporting-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 2rem 0;
}

/* Universal Component - Content Image Box */

.content-image-box {
  display: flex;
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.content-image-box:first-child {
  padding-top: 0;
}

.content-image-box:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.content-image-box .media-container {
  width: 35%;
}

.content-image-box .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding: 0 0.75rem 0 1rem;
}

.content-image-box h4 {
  padding-bottom: .5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.content-image-box p {
  padding-bottom: .5rem;
}

.content-image-box .mobile {
  display: none;
}


@media only screen and (max-width: 895px) {
  .content-image-box .desktop {
    display: none;
  }

  .content-image-box .mobile {
    display: block;
  }

  .content-image-box {
    padding-left: 0;
    border-bottom: none;
  }

  .content-image-box .media-container {
    width: 100%;
  }
}

/* Header */

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #1c1e53;
  transition: color 0.3s ease;
  align-content: flex-end;
}

a:hover{
  color: #5e3bee !important;
}

h5{
  font-size: 20px;
}

li{
  list-style: none;
}

nav{
  background-color: #fff;
  position: sticky;
  top: 0;
  padding: 0 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
}

nav .logo{
  display: flex;
  align-items: center;
}

nav .logo a{
  margin-left: 8px;
  font-weight: bold;
  font-size: 20px;
}

nav .logo img{
  width: 40px;
  height: 40px;
}

nav ul{
  display: flex;
  gap: 40px;
}

.mobilez {
  display: none;
}

@media only screen and (max-width: 768px) {

 nav {
    display: none;
  }

  .mobilez {
    background-color: #fff;
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    z-index: 1000;
  }

  .mobilez ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    justify-content: center;

  }

  .logo span {
    display: none;
  }

}

/* Banner */

#banner {
  background-color: rgb(219, 219, 219);
}

#banner .main-content {
  border-right: none;
}

#banner .supporting-content {
  justify-content: center;
}

#banner h3 {
  padding-bottom: 2rem;
  font-size: 2rem;
}

#banner p {
  padding-bottom: 1.5rem;
}

#banner a {
  padding: .5rem 0;
  background-color: rgb(155, 155, 155);
  text-align: center;
  color: white;
}

@media only screen and (max-width: 770px) {
  #banner {
    flex-direction: column;
    padding: 0;
  }

  #banner .main-content {
    width: auto;
    padding: 0;
  }

  #banner .supporting-content {
    width: auto;
    padding: 2rem 1rem;
  }
}

/* Information */

#info-section .main-content h3 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}

#info-section .supporting-content {
  justify-content: space-between;
}

@media only screen and (max-width: 895px) {
  #info-section.flex-content {
    padding: 0 1rem;
  }

  #info-section .main-content {
    display: none;
  }

  #info-section .supporting-content {
    width: 100%;
  }

  #info-section .supporting-content .content-image-box {
    flex-direction: column;
  }

  #info-section .text-content {
    max-width: 14rem;
    padding: 1rem;
  }
}

/* Courses */

#courses-section {
  padding: 2rem 3.5rem;
  background-color: rgb(245, 245, 245);
}

.courses-row {
  display: flex;
}

.course {
  flex-basis: 33%;
  margin: 1rem;
  background-color: white;
}

.course .text-content {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course h3,
.course h4 {
  padding-bottom: .5rem;
}

@media only screen and (max-width: 770px) {
  #courses-section {
    padding: 2rem 1rem;
    background-color: inherit;
  }

  .courses-row {
    flex-direction: column;
  }

  .course {
    margin: .25rem 0;
  }

  .course .text-content {
    background-color: rgb(216, 216, 216);
  }

  .course h3 {
    padding-bottom: 0;
  }

  .course .media-container,
  .course h4,
  .course p {
    display: none;
  }
}

/* Thesis */

#thesis-section {
  padding: 2rem 0;
}

#thesis-section .main-content {
  padding-bottom: 0;
}

#thesis-section h3 {
  padding: .5rem 0;
}

@media only screen and (max-width: 895px) {
  #thesis-section .main-content h3,
  #thesis-section .main-content p,
  #thesis-section .supporting-content {
    display: none;
  }

  #thesis-section {
    padding-bottom: 1.5rem;
  }

  #thesis-section .flex-content {
    padding: 0;
  }

  #thesis-section .main-content {
    width: 100%;
    padding: 0;
    margin-right: 0;
  }
}

/* Footer */

footer {
  display: flex;
  padding: 1rem 1.5rem;
  font-size: .75rem;
  color: rgb(112, 112, 112);
}

footer .copyright {
  flex-grow: 1;
}

footer a {
  margin-right: .75rem;
}

footer a:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 600px) {
  footer a {
    display: none;
  }
}